.App {
  text-align: center;
}

body{
  padding:10px;
}

a{
  text-decoration: none;
}

body{
 background-color: #ddd;
}

.link{
  padding:5px;
  display:inline-block;
  margin-bottom:10px;
  border-radius: 10px;
  background-color: white;
}

.bookimg{
  max-width:calc(49vw - 30px);
  width:200px;
  padding:10px;
}

.bookcontainer{
  display:inline-block;
}

@media (prefers-color-scheme: dark) {
  .App-header {
    background-color: #282c34;
    color: white;
  }

  .link{
    background-color: #000;
    color: white;
  }
  body{
    background-color: #222;
    color: white;
  }
} 

@media (pointer:coarse) {
  .link{
    margin-bottom:20px;
  }
}